@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-color:  #047aed;
  --secondary-color:  #1c3fa8;
  --dark-color:  #002240;
  --light-color:  #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  padding : 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;  
  line-height: 1.6;
}

a {
    text-decoration: none;
    color: #333;
  
}

h1, h2 {
  font-weight: 300px;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}


/* option 1  Single Slider CSS */
/* .slidecontainer {
    width: 100%;
  }

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}  */



