@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-color:  #047aed;
  --secondary-color:  #1c3fa8;
  --dark-color:  #002240;
  --light-color:  #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  padding : 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;  
  /* line-height: 1.6; */
}

a {
    text-decoration: none;
    color: #333;
  
}

h1, h2 {
  font-weight: 300px;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

.moviesList {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 40px;
}

.moviesList .box {
  width: 340px;
  margin: 20px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}

.moviesList .box .imgBox {
  position: relative;
  width: 100%;
  height: 400px;
}

.moviesList .box .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  object-fit: cover;
}

.moviesList .box .text {
  padding: 15px 0 5px;
}

.moviesList .box .text h2 {
  font-style: oblique;
  font-weight: bolder;
}

.moviesList .box .text p {
  font-weight: 400;
  color: #111;
}
